$blue: #8099E9;
$blue-1: #5B6DA6;
$blue-2:  #CDD8FC;
$blue-3: #F4F7FF;

$pink: #E99DCB;
$pink-1: #B86B9A;
$pink-2: #F3CFE5;

$dark-blue: #171430;
$dark-blue-1: #3B337B;
$dark-blue-2: #9D97CC;

$white: #FFF;
$purple: #5F4FE3;
$black: #000;